@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
@import "./variables";

.form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: auto;
  top: 7rem;
  max-width: 30rem;

  .form-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty-search {
    max-width: 30rem;
    width: 100%;
    margin-top: 4.5rem;
    color: $color-primary;
    animation: fade-in 0.2s forwards;

    @keyframes fade-in {
      from {
        opacity: 0;
        transform: scale(0.7);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    .empty-div {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(128, 128, 128, 0.3);
      background: linear-gradient(
        to bottom right,
        rgb(128, 128, 128, 0.7),
        rgb(255, 255, 255, 0.1)
      );
      margin: 0 2rem;
      padding: 2rem;
      border-radius: 1rem;
      h2 {
        font-size: 1.3rem;
      }
    }
    .note-icon {
      left: 0;
      height: 2.5rem;
      padding-top: 0.3rem;
      margin-right: 0.5rem;
    }
  }

  .delete-icon {
    position: absolute;
    height: 1.5rem;
    right: 0.5rem;
    color: $color-primary;
    cursor: pointer;
    transition: transform 0.2s;

    &:active {
      transform: scale(0.8);
    }
  }
}

.theform {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  padding-bottom: 0.7rem;

  input {
    width: 100%;
    padding: 0.8rem 2.3rem 1rem 3rem;
    border: none;
    outline: none;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    color: $color-primary;
    background-color: rgb(255, 255, 255, 0.2);
    &::placeholder {
      color: rgb(255, 255, 255, 0.5);
    }
  }

  button {
    position: absolute;
    left: 0.8rem;
    z-index: 10;
    cursor: pointer;
    font-weight: 400;
    border: none;
    background-color: transparent;
    transition: transform 0.2s;

    &:active {
      transform: scale(0.8);
    }

    .search-icon {
      color: $color-primary;
      height: 1.8rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }
  }
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

@media (min-width: 40em) {
  .form-container {
    position: absolute;
    top: 2.5rem;
    margin-right: 0.8rem;
    .form-spinner {
      position: static;
      padding-top: 0;
      margin-right: 0;
    }
  }
}

@media (min-width: 48em) {
  .form-container {
    padding-top: 0;
    right: auto;
    margin-right: 0;
  }
  .form-spinner {
    right: 0;
    width: fit-content;
    margin-right: 2rem;
  }
}
