@import "./variables";

.tunes-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  width: 100%;
  flex: 1;
  margin-top: 2.5rem;

  li {
    margin: 0 0.8rem;
    background: none;
  }
}

.my-node-enter-active {
  transition: all 0.2s;
}

.my-node-enter {
  opacity: 0;
  transform: scale(0.7);
}
.my-node-enter-active {
  opacity: 1;
  transform: scale(1);
}
.my-node-exit {
  display: none;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.my-node-exit-active {
  display: none;
  opacity: 0;
  transform: scale(0.7);
  position: absolute;
}

.tunes-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  display: block;
  justify-self: center;
  border-bottom: 1px solid $color-tertiary;
  width: 100%;
}

@media (min-width: 64em) {
  .tunes-list-wrapper {
    margin-top: 5rem;
    .tunes-song {
      padding: 0 2rem;
    }
    li {
      list-style-type: none;
      margin: 1.5rem;
      background-color: rgb(249, 249, 249, 0.1);
      border-radius: 2rem;
      .line {
        display: none;
      }

      .last-line {
        display: none;
      }
    }
  }
}

@media (min-width: 40em) {
  .tunes-list-wrapper {
    margin-top: 0;
  }
}
