* {
  -webkit-tap-highlight-color: transparent;
}

.audio-player-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .controls {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 2.4em;

    .control-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .time-data {
      display: flex;
      align-self: flex-start;
      font-size: 0.8em;
    }
  }
}
.speaker-icon,
.speaker-off-icon {
  color: white;
  height: 2em;
  transition: transform 0.1s ease-out;
  margin-right: 1em;

  cursor: pointer;
  &:active {
    transform: scale(0.8);
  }
}

.play-icon,
.pause-icon,
.replay-icon {
  width: 3em;
  right: 0;
}

.play-icon,
.icon {
  outline: none !important;
  background: transparent !important;
  &:focus {
    outline: none !important;
    background: transparent !important;
  }
  &:active {
    outline: tnone !important;
    background: transparent !important;
  }
}

.replay-icon {
  width: 3em !important;
  padding: 0.2em;
}

.rewind-icon,
.fast-forward-icon {
  // display: none;
  order: -1;
  height: 1.7em;
  &:active {
    transform: scale(0.8);
  }
}

.nav-wrapper {
  margin-left: 0px;
  height: 5px;
  width: 100%;
  background-color: gray;
  cursor: pointer;
  .seek-bar {
    width: 40%;
    height: 5px;
    background-color: #fff;
    margin-right: auto;
    will-change: width;
  }
}

.player-wrapper {
  margin-left: 1em;
  width: 100%;
  .beaker-icon {
    color: gray;
  }
}

.volume-wrapper {
  display: none;

  .volume-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
  }
}

.tunes-player {
  padding-bottom: 0px !important;
}

.icon {
  transition: transform 0.2s;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

.play-rewind-fastf {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8.3em;
  top: 1em;
  right: 0;
}

@media (min-width: 540px) {
  .rewind-icon,
  .fast-forward-icon {
    display: block;
    order: 0;
  }
  // .rewind-icon,
  // .fast-forward-icon {
  //   padding-right: 1em;
  // }
  .play-icon,
  .pause-icon,
  .replay-icon {
    // padding-right: 1em;
    height: 2.5em;
    right: 0;
  }
  .control-btns {
    flex-direction: row-reverse;
    position: relative;
  }
  .play-rewind-fastf {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 8em;
  }
  .volume-wrapper {
    display: flex;
    position: absolute;
    bottom: -2em;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .volume-wrapper {
    display: none;
  }
}
