@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");

.formContainer {
  max-width: 30em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;

  .emptySearch {
    margin-top: 3em;
    color: white;
    width: 100%;
    .emptyDiv {
      margin-inline: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(128, 128, 128, 0.3);
      background: linear-gradient(
        to bottom right,
        rgb(128, 128, 128, 0.7),
        rgb(255, 255, 255, 0.1)
      );

      padding: 2em;
      border-radius: 1em;
      h2 {
        font-size: 1.3em;
      }
    }
    .search-icon {
      height: 2.5em;
      margin-left: 2em;
      margin-right: 0.5em;
    }
  }

  .delete-icon {
    position: absolute;
    height: 1.5em;
    right: 0.5em;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s;

    &:active {
      transform: scale(0.8);
    }
  }
}

.theform {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 317px;
  padding-bottom: 1em;

  input {
    width: 100%;
    padding: 0.8em 2.3em 1em 3em;
    // padding-right: 3em;

    border: none;
    outline: none;
    border-radius: 0.6em;
    font-size: 0.9em;
    color: #fff;
    background-color: rgb(255, 255, 255, 0.2);
    &::placeholder {
      color: rgb(255, 255, 255, 0.5);
    }
  }

  button {
    position: absolute;
    left: 0.8em;
    z-index: 10;
    cursor: pointer;
    font-weight: 400;
    border: none;
    background-color: transparent;
    transition: transform 0.2s;

    &:active {
      transform: scale(0.8);
    }

    .search-icon {
      color: #fff;
      height: 1.8em;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      // &:focus,
      // &:active {
      //   // transform: scale(1);
      // }
    }
  }
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}
