.footer-container {
  display: flex;
  align-items: flex-end;
  // justify-content: center;
  gap: 1em;
  margin-top: 4em;
  width: 100%;
  max-width: 88rem;
  height: 6em;
  // padding: 1em 2em;
  .socials {
    padding-left: 2em;
    left: 2em;
    bottom: 0em;
    display: flex;
    justify-content: flex;

    width: max-content;
    gap: 1em;

    .github-icon,
    .linkedin-icon {
      height: 2em;
      width: 2em;
      padding: 0.6em;
      margin-bottom: 2em;
      border-radius: 50%;
      background-color: rgba(249, 249, 249, 0.2);
      color: #fff;
      cursor: pointer;
      transition: transform 0.1s;
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .chevron-up-icon {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 3.2em;
    padding: 0.5em;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(249, 249, 249, 0.2);
    cursor: pointer;
    transition: transform 0.1s;
    outline: none;

    @media (min-width: 88em) {
      right: calc(50% - 42em);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media (max-width: 1024px) {
  .footer-container {
    .socials {
      .github-icon,
      .linkedin-icon {
        height: 1.8em;
        width: 1.8em;
      }
    }

    .chevron-up-icon {
      width: 3em;
    }
  }
}
