@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");

.intro {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: "Maven Pro", sans-serif;
  color: #fff;
  width: fit-content;

  width: 100%;
  max-width: 88em;

  .line {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    justify-self: center;
    border-bottom: 1px solid #fff;
    // border-bottom: 1px solid #787878;
  }

  h1 {
    cursor: pointer;
    span {
      display: block;
      font-weight: 400;
      color: #b6acac;
    }
  }
}
